<!DOCTYPE html>
<html>
  <head>
    <title>TriggerHappyApp</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="Andres Castañeda Trigger Happy Hat Assigner">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
